*{
    box-sizing: border-box;
}

.rect{
    width: 100px;
    height: 100px;
    margin: 16px;
    padding: 32px;
    background-color: coral;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    transition-property: width;
    transition-duration: 2s;
}

.rect:hover{
    width: 100%;
    opacity: 1;
}

[class="rect linear"]:hover{
    transition-timing-function: linear;
}

[class="rect ease"]:hover{
    transition-timing-function:ease;
}

[class="rect ease-in"]:hover {
    transition-timing-function: ease-in;
}

[class="rect ease-out"]:hover {
    transition-timing-function: ease-out;
}

[class="rect ease-in-out"]{
    transition-timing-function: ease-in-out;
}




