table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}

caption{
    margin-bottom: 8px;
}

 td,th{
    padding-right: 4px;
    padding-top: 0;
    line-height: 40px;
    text-align: right;
}

table{
    box-sizing: border-box;
    width: 500px;
    margin: 16px;
}

thead{
    background-color: aqua;
}

tfoot{
    font-weight: 700;
}

tbody > tr:nth-child(odd){
    background-color: #f2f2f2;
}

div{
    overflow-x: auto;
}

tbody > tr:hover{
    color: white;
    background-color: #aaa;
}